extends base 

block content 
    main.main
        center 
            .visitor-container
                center
                    div=`visitor Name: ${data.name}` 
                    div=`visitor Email: ${data.email}`
